.placeholder {
    height: 9.6vh;
    width: 100%;
    display: flex;
    gap: 10%;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(100px);
    position: fixed;
    z-index: 1000;
}

.buttons {
    display: flex;
    gap: 3.2vh;
}

.nav_item {
    padding: 10vh;
    cursor: pointer;
}

.nav_item_active {
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.lista {
    display: flex;
    cursor: pointer;
    gap: 3vh;
    font-size: 2.4vh;
}

@media (max-width:760px) {
    .placeholder {
        gap: 0;
        justify-content: flex-start;
    }
}


@media (max-width:710px) {}