.placeholder {
    width: 8rem;
    height: 3.5rem;
    border-radius: 3rem 1.5rem 3rem 1.5rem;
    background-color: #e9e2d5;
    transition: .4s;
    font-weight: bold
}

.placeholder:hover {
    background-color: #beb299;
}